.express-border{
	width: 1042px;
	height: 440px;
	background: #fff;
	margin-top: 5px;
	font-size: 14px;
	color: #000;
}
.express-border ul{
	padding-top: 10px;
	width: 1042px;
	height: 35px;
	list-style: none;
	text-align: center;
	line-height: 35px; 
	color: #000;
}
.express-border ul li{
	float:left;
	width:200px;
	height: 30px;
	/*border:1px solid #000;*/
}
.order-number{
	margin-left: -40px;
}
.order-detail{
	margin-top: 5px;
	width: 1042px;
	height: 40px;
	/*background: #C7E5FD;*/
	text-align: center;
	line-height: 40px;
}
.detail-number{
	float: left;
	width: 200px;
	height: 40px;
	/*background: #2266cc;*/
}
.detail-info{
	float: left;
	width: 200px;
	height: 40px;
	/*background: #11aabb;*/
}
.detail-time{
	float: left;
	width: 200px;
	height: 40px;
	/*background: #ffaa66;*/
}
.detail-state{
	float: left;
	width: 200px;
	height: 40px;
	/*background: #aadd66;*/
}
.detail-operation{
	float: left;
	width: 200px;
	height: 40px;
	/*background: #99bbcc;*/
}
.order-detail a{
	text-decoration: none;
	color: #000;
}
.order-detail{
	text-align: center;	
}
/*.express-border ul{
	text-align: center;
}*/