@charset "UTF-8";
@font-face{
	font-family: 'STCAIYUN';
	src:url('../font/STCAIYUN.TTF');
}
body{
	overflow: auto;
	margin: 0 auto;
}

.header{
	width: 100%;
	height: 80px;
	background: #A1CFFE;
	border-bottom: 2px solid #85B0D8;
}
.header img{
	position: relative;
	top:10px;
	left: 340px;
	margin: auto;
	float: left;
}
.header span{
	position: relative;
	left: 390px;
	line-height: 80px;
	font-family: 'STCAIYUN';
	font-size: 50px;
	color: red;
	letter-spacing: 20px;
}
.shortcut{
	height: 32px;
	background: #E3E4E5;
}
.shortcut span{
	display: block;
	line-height: 32px;
	color: #999999;
	font-size: 14px;
	position: absolute;
	right: 235px;
	
}
.a0:hover{
	color:red;
}
.shortcut a{
	text-decoration:none;
	line-height: 32px;
	color: #999999;
	font-size: 14px;
}
.shortcut .a1{
	position: absolute;
	right: 130px;
}
.shortcut .a1:hover{
	color:red;
}
.shortcut .a2{
	position: absolute;
	right: 50px;
	color: red;
}

.main{
	width: 1080px;
	margin: 0 auto;
	text-align: center;
	background: #FFF;
}
.left{
	width: 180px;
	height: 600px;
	background: #F0F3EF;
	float: left;
	position: relative;
	top:-33px;
}
.right{
	width: 900px;
	float: left;
	margin-bottom:40px;
}

.logo{
	width: 180px;
	height: 180px;
	border-bottom: 1px solid #EDEDED;
}
.bookType{
	height: 500px;
	/*background: yellow;*/
}
.bookType .menu{
	padding: 6px 0;
	height: 400px;
	list-style: none;
}
.bookType .menu li{
	width: 100px;
	height: 26px;
	margin: 5px 25px;
	line-height: 26px;
	padding-left: 0px;
	text-align: left;
}
.bookType .menu li a{
	text-decoration: none;
	font-size: 14px;
	color: #626262;
}
.bookType .menu li a:hover{
	color: red;
}

.form{
	width: 550px;
	height: 35px;
	/*background: blue;*/
	margin: 10px auto 30px;
}
.form .content{
	width: 490px;
	height: 29px;
	line-height: 29px;
	padding-left: 5px;
}
.form .submit{
	position:relative;
	width: 50px;
	height: 35px;
	top:-43px;
	left:50px;
	border:none;
	cursor: pointer;
	background: url(../images/search.png) no-repeat;

}


.books{
	width: 880px;
	background: #FFF;
	float: right; 	
	margin-bottom:20px;
}

.books h3{
	width: 880px;
    height: 2px;
    border-bottom: 1px solid #323232;
    position: relative;
    margin: 4px auto 8px;
    text-align: center
}
.books h3 .title{
	color: #323232;
    font: 13px "Microsoft Yahei";
    display: inline-block;
    text-align: center;
    background-color: #fff;
    position: relative;
    bottom: 8px;
    padding: 0 12px;
}

.books div{
	width: 216px;
	height: 240px;
	margin:1px;
	border:1px solid #E6E6E6;
	/*background: red;*/
	float: left;
}
.pic{
	display: block;
	width: 160px;
	height: 160px;
	overflow: hidden;
	margin: 15px auto 0;
}
.pic img{
	width: 160px;
	height: 160px;
}
.book_type{
	text-align: center;
	display: block;
	width: 140px;
	height: 14px;
	margin: 7px auto 3px;
	line-height: 14px;
	font-size: 14px;
	padding-left: 10px;
	color: #646464;
	text-align: left;
}
.book_name{
	display: block;
	width: 140px;
	height: 15px;
	overflow: hidden;
	margin: 4px auto;
	line-height: 15px;
	font-size: 14px;
	padding-left: 10px;
	text-align: left;
	color: #646464;
}


.book_author{
	display: block;
	width: 140px;
	height: 15px;
	margin: 4px auto;
	line-height: 15px;
	font-size: 14px;
	padding-left: 10px;
	text-align: left;
	color: #969696;
	overflow: hidden;
}

.myInfo{
	width: 130px;
	height: 145px;
	background: #A1CFFE;
	z-index: 1000;
	position:absolute;
	top: 125px;
	right: 250px;
	border-radius: 5px;
	display:none;
}

.shortcut .image{
	width: 90px;
	height: 110px;
	background:red;
	margin: 5px auto;
	background-image: url(../images/showImg.gif);
	background-size: 90px 110px;
}

.shortcut .myInfo .name{
	display:block;
	width:130px;
	height:15px;
	right:0px;
	line-height:15px;
	color:#FFF;
	font-size: 15px;
	text-align: center;
}

.tip{
	display:inline-block;
	width:500px;
	height:20px;
	line-height:20px;
	font-size:14px;
	margin-top:5px;
}
.footer{
	width: 100%;
	height: 50px;
	border-top: 1px solid #F0F3EF;
	text-align: center;
	color:#999;
	font-size: 12px;
	line-height: 20px;
	float:right;
	padding-top:10px;	
}